
<!-- <div class="card mb-3" style="max-width: 540px;"> -->

<!-- <div *ngIf="oneWishlist" class="card mb-3" style="max-width: 540px;"> -->

<div class="card mb-3" style="max-width: 650px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/Images/team-1.jpg" class="img-fluid rounded-start" alt="">
      <!-- <img src="{{oneWishlist.photoUrl}}" class="img-fluid rounded-start" alt=""> -->
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <!-- <p class="card-text">{{oneWishlist.title | truncate}}</p> -->
        <span class="card-text capacity"><small class="text-muted">Capacity : 20 </small></span>
        <!-- <span class="card-text capacity"><small class="text-muted">Capacity :{{oneWishlist.capacity}} </small></span> -->
        <span class="card-text"><small class="text-muted">Price : $ 20 </small></span>
        <!-- <span class="card-text"><small class="text-muted">${{oneWishlist.price}}</small></span> -->

        <div class="button">
          <button type="button" class="btn btn-outline-primary">10</button>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf="oneWishlist">


  <div class="Cart-Items">
    <div class="image-box">
      <img src="{{oneWishlist.photoUrl}}"  />
    </div>
    <div class="about">
      <h1 class="title">{{oneWishlist.title | truncate}}</h1>
      <h3 class="subtitle">Capacity :{{oneWishlist.capacity}}</h3>


    </div>
    <div class="counter">
      <button></button>
    </div>
    <div class="prices">
      <div class="amount"><u>Price</u></div>
      <div class="save">${{oneWishlist.price}}</div>
    </div>
  </div>
  <hr>
</div>
