
<section class="h-100 gradient-custom">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col register">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-3 text-uppercase">registration Tour Guid</h3>

              <form #registerFrm="ngForm" >
                  <div class="form-outline mb-4">

                    <!-- <img class="logo" src="assets/Images/testimonial-1.jpg" alt="Logo" width="100" height="100 " style="border-radius: 50%;"> -->
                    <input #username="ngModel"  ngModel name ="username" type="text" id="username" class="form-control form-control-lg" placeholder="Your UserName *"  pattern="^[A-Za-z]{8,50}$" required/>
                    <div class="alert alert-danger" [hidden]="username.valid || username.untouched">
                      <small *ngIf="username.errors?.['required']">User Name is Required!!</small>
                      <small *ngIf="username.errors?.['pattern']">User Name must contain alphabetic characters only and between 8 and 50 characters</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <!-- <img class="logo" src="assets/Images/testimonial-1.jpg" alt="Logo" width="100" height="100 " style="border-radius: 50%;"> -->
                    <input #name="ngModel"  ngModel name ="name" type="text" id="name" class="form-control form-control-lg" placeholder="Your FullName *"  pattern="^[A-Za-z ]{8,50}$" required/>

                    <div class="alert alert-danger" [hidden]="name.valid || name.untouched">
                      <small *ngIf="name.errors?.['required']">Full Name is Required!!</small>
                      <small *ngIf="name.errors?.['pattern']">Full Name must contain alphabetic characters and spaces only and between 8 and 50 characters</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input #email="ngModel"  ngModel name ="email" type="email" id="email" class="form-control form-control-lg" placeholder="Your Email" required email/>
                    <div class="alert alert-danger" [hidden]="email.valid || email.untouched">
                      <small *ngIf="email.errors?.['required']">Email Address is Required!!</small>
                      <small *ngIf="email.errors?.['email']">Email doesn't Matched</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input #phone="ngModel"  ngModel name ="phone" type="text" id="phone" class="form-control form-control-lg" placeholder="Your Phone" required>
                    <div class="alert alert-danger" [hidden]="phone.valid || phone.untouched">
                      <small *ngIf="phone.errors?.['required']">Phone Number is Required!!</small>

                     </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input #password="ngModel"  ngModel name ="password" type="password" id="password" class="form-control form-control-lg" placeholder="Your password *"  required>
                    <div class="alert alert-danger" [hidden]="password.valid || password.untouched">
                      <small *ngIf="password.errors?.['required']">Password is Required!!</small>

                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input #confirmPassword="ngModel"  ngModel name ="confirmPassword" type="password" id="confirmPassword" class="form-control form-control-lg" placeholder=" confirmPassword *" pattern="{{password.value}}" required>
                    <div class="alert alert-danger" [hidden]="confirmPassword.valid || confirmPassword.untouched">
                      <small *ngIf="confirmPassword.errors?.['required']">Please Confirm Your Password</small>
                      <small *ngIf="confirmPassword.errors?.['pattern']">Does not Match Your Password</small>
                     </div>
                  </div>


                  <div class="form-outline row">

                    <!-- row 1 -->
                    <div class="col-md-6">
                      <input #snn="ngModel" ngModel name="snn" type="text" id="snn" class="form-control form-control-lg" placeholder="Your SNN" pattern="^[0-9]{6,16}$" required/>
                      <div class="alert alert-danger" [hidden]="snn.valid || snn.untouched">
                        <small *ngIf="snn.errors?.['required']">snn Number is Required!!</small>
                        <small *ngIf="snn.errors?.['pattern']">snn Number Length must be between 6 and 16 Numbers</small>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <input #Tax="ngModel" ngModel name="Tax" type="text" id="Tax" class="form-control form-control-lg mb-4 p-2" placeholder="Your Tax Number" required/>
                      <div class="alert alert-danger" [hidden]="Tax.valid || Tax.untouched">
                        <small *ngIf="Tax.errors?.['required']">TaxNumber is Required!!</small>
                      </div>
                    </div>

                    <!-- row 2 -->
                    <div class="col-md-6">
                      <input #bankAccount="ngModel" ngModel name="bankAccount" type="text" id="bankAccount" class="form-control form-control-lg mb-4 p-2" placeholder="Your bankAccount" required />
                      <div class="alert alert-danger" [hidden]="bankAccount.valid || bankAccount.untouched">
                        <small *ngIf="bankAccount.errors?.['required']">bankAccount is Required!!</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input #Address="ngModel" ngModel name="Address" type="text" id="Address" class="form-control form-control-lg mb-4 p-2" placeholder="Your recipient Address" required/>
                      <div class="alert alert-danger" [hidden]="Address.valid || Address.untouched">
                        <small *ngIf="Address.errors?.['required']">Address is Required!!</small>
                      </div>
                    </div>

                    <!-- row 3 -->
                    <div class="col-md-6">
                      <input #AccountNumber="ngModel" ngModel name="AccountNumber" type="text" id="AccountNumber" class="form-control form-control-lg mb-4 p-2" placeholder="AccountNumber" required />
                      <div class="alert alert-danger" [hidden]="AccountNumber.valid || AccountNumber.untouched">
                        <small *ngIf="AccountNumber.errors?.['required']">AccountNumber is Required!!</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input #SwiftCode="ngModel" ngModel name="SwiftCode" type="text" id="SwiftCode" class="form-control form-control-lg mb-4 p-2" placeholder="SwiftCode" required/>
                      <div class="alert alert-danger" [hidden]="SwiftCode.valid || SwiftCode.untouched">
                        <small *ngIf="SwiftCode.errors?.['required']">SwiftCode is Required!!</small>
                        </div>
                    </div>

                  </div>

                  <!-- <div class="input-group mb-3">
                    <label class="IDphoto">ID photo</label>

                    <input #file="ngModel"  ngModel name ="file" type="file" class="form-control" id="inputGroupFile01">

                  </div> -->

                  <div class="input-group mb-3">
                    <label class="profilePic">Profile Pic</label> 
                    <!-- <input #PPic="ngModel"  ngModel name ="file" type="file" class="form-control" id="inputGroupFile02"> -->
                    <app-upload-image (imageUrl)="Photo=$event"></app-upload-image>
                  </div>
                  <div class="input-group mb-3">
                    <label class="IDphoto">ID Photo</label> 
                    <!-- <input #PPic="ngModel"  ngModel name ="file" type="file" class="form-control" id="inputGroupFile02"> -->
                    <app-upload-image (imageUrl)="PhotoID=$event"></app-upload-image>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button  [disabled]="registerFrm.invalid || confirmPassword.value !== password.value " type="submit" (click)="Register(username.value , name.value , email.value , phone.value , password.value , snn.value , bankAccount.value , Address.value , AccountNumber.value , SwiftCode.value ,Tax.value)"
                    class="btn btn-outline-secondary btn-lg ms-2">Register</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
