<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
      <div class="row justify-content-center py-5">
          <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
              <h1 class="display-3 text-white animated slideInDown">Dashboard Statistics</h1>
          </div>
      </div>
  </div>
</div>

<!-- <div *ngIf="statistics" class="container-fluid pt-4 px-4"></div> -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4 parent">
      <div class="col-sm-6 col-xl-4">
          <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-line fa-3x text-primary icon"></i>
              <div class="ms-3">
                  <p class="mb-2">Tours</p>
                  <h6 class="mb-0" >$1253</h6>
                  <!-- <h6 class="mb-0" *ngIf="statistics.pastToursCount">{{statistics.pastToursCount}}</h6> -->
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-4">
          <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-bar fa-3x text-primary icon"></i>
              <div class="ms-3">
                  <p class="mb-2">Cancelled </p>

                  <h6 class="mb-0" >$1253</h6>
                  <!-- <h6 class="mb-0" *ngIf="statistics.cancelledInPastTourscount">{{statistics.cancelledInPastTourscount}}</h6> -->
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-4">
          <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-area fa-3x text-primary icon"></i>
              <div class="ms-3">
                  <p class="mb-2">total Past Tours Price</p>

                  <h6 class="mb-0" >$1253</h6>
                  <!-- <h6 class="mb-0" *ngIf="statistics.totalPastToursPrice">{{statistics.totalPastToursPrice | currency:'USD':'symbol':'.2'}}</h6> -->
              </div>
          </div>
      </div>

  </div>


  <div class="row g-4 parent">
    <div class="col-sm-6 col-xl-4">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa fa-chart-line fa-3x text-primary icon"></i>
            <div class="ms-3">
                <p class="mb-2">Fully Booked </p>

                <h6 class="mb-0" >$1253</h6>
                <!-- <h6 class="mb-0" *ngIf="statistics.fullyBookedPastToursCount">{{statistics.fullyBookedPastToursCount}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa fa-chart-bar fa-3x text-primary icon"></i>
            <div class="ms-3">
                <p class="mb-2">UpComing Tours </p>

                <h6 class="mb-0" >$1253</h6>
                <!-- <h6 class="mb-0" *ngIf="statistics.upComingToursCount">{{statistics.upComingToursCount}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa fa-chart-area fa-3x text-primary icon"></i>
            <div class="ms-3">
                <p class="mb-2">Total Upcoming Tours Price</p>

                <h6 class="mb-0" >$1253</h6>
                <!-- <h6 class="mb-0" *ngIf="statistics.totalUpcomingToursPrice">{{statistics.totalUpcomingToursPrice | currency:'USD':'symbol':'.2'}}</h6> -->
            </div>
        </div>
    </div>

</div>

<div class="row g-4 parent">
  <div class="col-sm-6 col-xl-4">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-chart-line fa-3x text-primary icon"></i>
          <div class="ms-3">
            <p class="mb-2"> Total Upcoming Tour Seats</p>

            <h6 class="mb-0" >$1253</h6>
            <!-- <h6 class="mb-0" *ngIf="statistics.totalUpcomingTourSeats">{{statistics.totalUpcomingTourSeats}}</h6> -->
        </div>
      </div>
  </div>
  <div class="col-sm-6 col-xl-4">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-chart-bar fa-3x text-primary icon"></i>
          <div class="ms-3">
            <p class="mb-2">Avg Upcoming Tour Seats</p>

            <h6 class="mb-0" >$1253</h6>
            <!-- <h6 class="mb-0"*ngIf="statistics.avgUpcomingTourSeats">{{statistics.avgUpcomingTourSeats}}</h6> -->
        </div>
      </div>
  </div>
  <div class="col-sm-6 col-xl-4">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-chart-area fa-3x text-primary icon"></i>
       <div class="ms-3">
              <p class="mb-2">Fully Booked Upcoming Tours Count</p>

              <h6 class="mb-0" >$1253</h6>
              <!-- <h6 class="mb-0"*ngIf="statistics.fullyBookedUpcomingToursCount">{{statistics.fullyBookedUpcomingToursCount}}</h6> -->
          </div>
      </div>
  </div>

</div>

<div class="row g-4 parent">
  <div class="col-sm-6 col-xl-4">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-chart-line fa-3x text-primary icon"></i>
          <div class="ms-3">
            <p class="mb-2">Avg Past Tours Price</p>

            <h6 class="mb-0" >$1253</h6>
            <!-- <h6 class="mb-0"*ngIf="statistics.avgPastoursPrice">{{statistics.avgPastoursPrice | currency:'USD':'symbol':'.2'}}</h6> -->
        </div>
      </div>
  </div>
  <div class="col-sm-6 col-xl-4">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-chart-bar fa-3x text-primary icon"></i>
          <div class="ms-3">
            <p class="mb-2">Avg Upcoming Tours Price</p>

                  <h6 class="mb-0" >$1253</h6>
            <!-- <h6 class="mb-0"*ngIf="statistics.avgUpcomingToursPrice">{{statistics.avgUpcomingToursPrice | currency:'USD':'symbol':'.2'}}</h6> -->
        </div>
      </div>
  </div>
  <div class="col-sm-6 col-xl-4">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-chart-area fa-3x text-primary icon"></i>
          <div class="ms-3">
            <p class="mb-2">Tours InCart Count</p>
            <!-- <h6 class="mb-0"*ngIf="statistics.toursInCartCount">{{statistics.toursInCartCount}}</h6> -->
        </div>
      </div>
  </div>

</div>







<!-- <ng-container *ngIf="statistics">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Past Tours</h5>
          <p class="card-text">{{statistics.pastToursCount}} tours</p>
          <p class="card-text">{{statistics.totalPastToursPrice | currency:'USD':'symbol':'.2'}}</p>
          <p class="card-text">{{statistics.avgPastoursPrice | currency:'USD':'symbol':'.2'}} avg. price</p>
          <p class="card-text">{{statistics.fullyBookedPastToursCount}} fully booked</p>
          <p class="card-text">{{statistics.cancelledInPastTourscount}} cancelled</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upcoming Tours</h5>
          <p class="card-text">{{statistics.upComingToursCount}} tours</p>
          <p class="card-text">{{statistics.totalUpcomingToursPrice | currency:'USD':'symbol':'.2'}}</p>
          <p class="card-text">{{statistics.avgUpcomingToursPrice | currency:'USD':'symbol':'.2'}} avg. price</p>
          <p class="card-text">{{statistics.fullyBookedUpcomingToursCount}} fully booked</p>
          <p class="card-text">{{statistics.totalUpcomingTourSeats}} total seats</p>
          <p class="card-text">{{statistics.avgUpcomingTourSeats}} avg. seats</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tours in Cart</h5>
          <p class="card-text">{{statistics.toursInCartCount}} tours</p>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->
