<div class="container-fluid bg-secondary pb-5 bg-gradient">

  <app-tour-slider [Tours]="upcomingTours"
  MoreLink="Upcoming-Tours" MoreText="View All"
  MoreOutlet="TGProfile"
  Title="Upcoming Tours">
  </app-tour-slider>

  <app-tour-slider [Tours]="pastTours" MoreLink="Past-Tours"
  MoreOutlet="TGProfile"
  MoreText="View All" Title="Past Tours">
  </app-tour-slider>

  <app-review-lister [Reviews]="reviews" MoreLink="Reviews"
  MoreOutlet="TGProfile" [Limit]="7"
  MoreText="View All" Title="Reviews">
  </app-review-lister>

</div>
