<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
      <a routerLink="" class="navbar-brand p-0">
          <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Seetour</h1>
          <!-- <img src="img/logo.png" alt="Logo"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">

            <a routerLink="/admin/posts" routerLinkActive="active" class="nav-item nav-link">Posts</a>
            <a routerLink="/admin/applicants" routerLinkActive="active" class="nav-item nav-link">Applicants</a>

            <a routerLink="/report" routerLinkActive="active" class="nav-item nav-link">Reports</a>
            <a routerLink="/admin-statistics" routerLinkActive="active" class="nav-item nav-link">DashBoard</a>
            <a routerLink="/report" routerLinkActive="active" class="nav-item nav-link">Reports</a>
            <a routerLink="/report" routerLinkActive="active" class="nav-item nav-link">Reports</a>



            <button (click)="logout()" class="btn btn-primary rounded-pill me-2">Logout</button>
          </div>
      </div>
  </nav>
</div>
