<div *ngIf="user === 'tourguide'; then tourguideTemplate else elseTemplate "></div>
<ng-template #tourguideTemplate>

  <div class=" parent container">
    <h5>Questions: </h5>
    <ng-container *ngIf="unanswersandQues; else elseTemplate">
      <div class="card flex-md-row align-items-start m-6">
        <div class="p-3 d-flex flex-column align-self-stretch col-md-12">
          <ng-container *ngFor="let ques of unanswersandQues  let i = index">
            <ng-container *ngIf="ques; else elseTemplate">

              <p><span>Tour Title :</span> {{ ques.tourTitle }} ?</p>
              <p><span>Q : </span>{{ i+1 }}. {{ ques.question }} ?</p>
              <p>Crated At: {{ques.createdAt}}</p>
              <a routerLink="/tour/{{ques.tourId}}">Tour Details</a>
              <form [formGroup]="QuestionAnswer" (ngSubmit)="Answer(ques.id)">
                <label class="submitlabel ">submitt Answer : </label>
                <br>
                <textarea formControlName="answer" placeholder="Enter your Answer"></textarea>
                <br>
                <input type="submit" [disabled]="QuestionAnswer.invalid || flag" name="submit" value="Submitt"
                  class="btn btn-primary rounded-pill me-2 book" />
              </form>
              <div *ngIf="message" class="alert alert-success" role="alert">{{ message }}</div>
              <hr>
              <br>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #elseTemplate>

    <app-spinner class="flex-grow-1"></app-spinner>

  </ng-template>
</ng-template>
<ng-template #elseTemplate>
  <app-un-authorized></app-un-authorized>
</ng-template>