
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Vacation With Us</h1>

            </div>
        </div>
    </div>
</div>
<app-about-start></app-about-start>
<app-partial-service-home></app-partial-service-home>
<app-popular-distnations></app-popular-distnations>
<!-- <app-tgtours></app-tgtours> -->
<app-paymentprocess-home></app-paymentprocess-home>
<app-team-data></app-team-data>
