.form-group {
    margin-bottom: 1rem;
    color: rgb(5, 5, 5);
  }
  
  label {
    font-weight: bold;
    color: rgb(5, 5, 5);
  }
  
  input[type="datetime-local"] {
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #99acbf;
    font-size: 1rem;
  }
  
  select {
    height: calc(2.25rem + 2px);
  }
  