<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
      <div class="row justify-content-center py-5">
          <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
              <h1 class="display-3 text-white mb-3 animated slideInDown">Book Tour</h1>
          </div>
      </div>
  </div>
</div>

<div *ngIf="tour" class="card mb-3">
  <div class="card-body">
    <form #bookFrm="ngForm">
      <div >
        <label for="tourName">Tour Name : </label>
        <span *ngIf="tour?.tourName"> {{ tour?.tourName }}</span>
      </div>
      <div >
        <label for="guideName">Tour Guide Name : </label>
        <span *ngIf="tour?.tourGuideName"> {{ tour?.tourGuideName }}</span>          
        </div>
      <div >
        <label for="tourTime">Tour Time : </label>
          <span *ngIf="tour?.dateFrom"> from : {{ tour?.dateFrom | date: 'dd/MM/yyyy HH:mm' }} , to : {{ tour?.dateTo | date: 'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div >
        <label for="meetingPoint">Meeting Point : </label>
        <span *ngIf="tour?.locationFrom"> {{ tour?.locationFrom }}</span>           
      </div>
      <div >
        <label for="seatsCount">Seats Count </label>
        <input #seats="ngModel" ngModel name="seats" type="number" id="seats" placeholder="Enter number of seats" required>
      </div>
      <!-- <div class="form-group">
        <label for="paymentMethod">Payment Method</label>
        <select class="form-control" id="paymentMethod">
          <option>Credit Card</option>
          <option>PayPal</option>
          <option>Cash on Arrival</option>
        </select>
      </div> -->
      <button [disabled]="seats.invalid" type="submit" class="btn btn-primary" (click)="book(seats.value)">Book Now</button>
    </form>
  </div>
</div>

<div *ngIf="!tour">
  <app-spinner></app-spinner>
</div>