<div *ngIf="review" class="container-md">

  <app-gallery *ngIf="review.photos" [showGallery]="showGallery"
  [photos]="review.photos" (closed)="closeGallery()"></app-gallery>

  <div class="card flex-md-row align-items-start">

    <div class="p-3 d-flex flex-column align-self-stretch">

      <h5 class="card-title">{{review.customerName}}</h5>
      <star-rating [rating]="review.rating"></star-rating>
      <p class="card-text">{{review.comment}}</p>

      <div class="d-flex justify-content-between text-muted flex-grow-1 align-items-end">
        <a [routerLink]="tourLink" class="btn mb-1 p-0 text-start">
          <div>{{review.bookedTourTitle}}</div>
        </a>
        <div>{{review.createdAt | truncate: 16: false: ""}}</div>
      </div>

    </div>

    <div *ngIf="photos.length" class="image-grid col-12 col-md-3 gap-1 gap-md-2 p-2 bg-light rounded" (click)="openGallery()">
      <div class="image-box cursor-pointer" *ngFor="let photo of photos">
        <img [src]="photo">
      </div>
    </div>

  </div>

</div>
