h1{
  margin: 100px auto;
  text-align: center;
  margin: auto;
}

.card{
  width: 80%;
  margin: 50px auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input{
  border: none;
}
