<div style="width: 25rem;" *ngIf="tour" class="card h-100">

  <ngb-carousel class="rounded-top overflow-hidden" [interval]="0">
    <ng-template ngbSlide *ngFor="let photo of tour.Photos">
      <!-- slide content -->
      <div class="carousel-item active">
        <img src="{{photo}}" class="d-block w-100">
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="card-body text-start text-break d-flex flex-column">

    <a [routerLink]="tourLink" class="btn flex-grow-1 mb-1 p-0 text-start">
      <h5 class="card-title">{{tour.Title | truncate }}</h5>
    </a>


    <ul class="list-group list-group-flush text-wrap">

      <li class="list-group-item px-0">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="m-0 flex-grow-1">{{tour.TourGuideName | truncate : 32}}</h6>
          <star-rating [rating]="tour.TourGuideRating" [count]="tour.TourGuideRatingCount"></star-rating>
        </div>
      </li>

      <li class="list-group-item px-0">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <span class="m-0 flex-grow-1">{{tour.LocationTo | truncate : 32}}</span>
          <span>{{tour.Price | currency}}</span>
        </div>
      </li>

      <li class="list-group-item px-0">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <span>{{tour.DateFrom}}</span>
          <span> - </span>
          <span>{{tour.DateTo}}</span>
        </div>
      </li>

      <li class="list-group-item px-0">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <span class="flex-grow-1">{{tour.Category}}</span>
          <like-button [likes]="tour.Likes" [isLiked]="tour.isLiked" [Id]="tour.Id"></like-button>
          <wishlist-button [isInWishlist]="tour.AddedToWishList" [Id]="tour.Id"></wishlist-button>
        </div>
      </li>

      <ngb-progressbar type="success" [value]="tour.Bookings" [max]="tour.Capacity" height=".5rem"></ngb-progressbar>

    </ul>

  </div>

</div>
