<div class="container-md">

  <form [formGroup]="sorterForm" (ngSubmit)="Sort()"
  class="row g-3 border rounded bg-light pb-2">

    <jqxSortable #sortingOptions>
      <div [id]="item.name" class="d-flex flex-row justify-content-center my-2" *ngFor="let item of items">

        <div class="flex-grow-1 d-flex align-items-center">
          <i class="bi bi-grip-vertical"></i>
          <label for="form-label dateFrom" class="form-label m-0">{{item.label}}</label>
        </div>

        <div class="">
          <select class="form-select d-inline" [formControlName]="item.name">
            <option selected>Default</option>
            <option>Ascending</option>
            <option>Descending</option>
          </select>
        </div>

      </div>
    </jqxSortable>



    <div class="col-12 d-flex flex-row flex-wrap justify-content-between">
      <button type="submit" class="btn btn-primary">Sort</button>
      <button type="reset" class="btn btn-outline-info">Reset</button>
    </div>

  </form>

</div>
