<div class="container-fluid py-5 mb-5 bg-secondary bg-gradient">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-dark animated slideInDown mb-5">Our Tours</h1>

                <div class="row gy-4">

                  <div *ngFor="let tour of tours" class="col-md-4">
                    <app-tour-card [tour]="tour"></app-tour-card>
                  </div>

                </div>

            </div>
        </div>
    </div>
</div>
