<div>
  <app-header></app-header>
</div>

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner End -->

<div>
  <router-outlet></router-outlet>
</div>

<div>
  <app-footer></app-footer>
</div>

<!-- Back to Top -->
<div>
  <a (click)="onBackToTopClick()" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
  </a>
</div>
 <div>
  <a (click)="onBackToTopClick()" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
  </a>
</div>

 <!--<div>
  <app-upload-image></app-upload-image>
</div>
<div>
  <app-upload-images></app-upload-images>
</div>  -->

<!-- <app-create-tour></app-create-tour> -->
<!-- <div>
</div> -->
<!-- <app-upload-image></app-upload-image> -->
<!-- <app-google-maps></app-google-maps> -->
