<div class="d-inline-block">
  <div class="d-inline-flex flex-row align-items-center">

    <button class="btn btn-primary me-2" (click)="compressFile()">attach photos</button>

    <div *ngIf="state == 'compressing'" class="spinner-border text-primary spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <i *ngIf="state == 'done'" class="bi bi-check-circle text-success fs-3"></i>
    <i *ngIf="state == 'done' && failedToUpload.length" class="bi bi-exclamation-circle text-danger fs-3"></i>

  </div>

  <ul class="m-0">
    <li class="text-danger" *ngFor="let item of failedToUpload">Failed to upload '{{item}}', please select a smaller image</li>
  </ul>
</div>
