<div class="col-lg-10 mx-auto bg-light border rounded p-3">

  <div class="d-flex flex-column">

    <div class="d-flex flex-row p-3">

      <h3 class="flex-grow-1">{{sectionTitle}}</h3>

      <button class="btn btn-primary me-2" type="button"
      data-bs-toggle="offcanvas" data-bs-target="#filterSide"
      aria-controls="filterSide">
        <i class="bi bi-funnel-fill"></i>
      </button>

      <button class="btn btn-primary" type="button"
      data-bs-toggle="offcanvas" data-bs-target="#sorterSide"
      aria-controls="sorterSide">
        <i class="bi bi-sort-down-alt"></i>
      </button>

    </div>

    <app-tour-lister [tours]="tours"></app-tour-lister>

  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1"
  data-bs-scroll="true" data-bs-backdrop="false"
  id="filterSide" aria-labelledby="filterSideLabel">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="filterSideLabel">Filter</h5>
      <button #FilterClose type="button" class="btn-close" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

      <app-tours-filter (FilterValue)="Filter($event)"></app-tours-filter>

    </div>
  </div>

</div>
