<div class="container-xxl position-relative bg-white d-flex p-0 full-page">


    <div class="sidebar pe-4 pb-3 ">
        <nav class="navbar">

            <div class="navbar-nav w-100">
              <a routerLink="/dashboard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          </div>
            <div class="navbar-nav w-100">
                <a routerLink="/tour" class="nav-item nav-link active "><i class="fa fa-table me-2"></i>UpComming</a>
            </div>

            <div class="navbar-nav w-100">
                <a routerLink="/Past-Tours" class="nav-item nav-link active "><i class="fa fa-chart-bar me-2 "></i>Past Tour</a>
            </div>

            <div class="navbar-nav w-100">
                <a routerLink="/review" class="nav-item nav-link active "><i class="fa fa-keyboard me-2"></i>Reviews</a>
            </div>

        </nav>
    </div>

    <!-- Content Start -->
    <!-- <div class="content" *ngIf="statistics"> -->
       <div class="content">
        <div class="container-fluid pt-4 px-4 contain">
            <div class="row g-4 parent">
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-sharp fa-solid fa-plane fa-3x text-primary icon"></i>


                        <div class="ms-3">
                            <p class="mb-2">Tours</p>

                            <h6 class="mb-0" >{{statistics.pastToursCount}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa-solid fa-rectangle-xmark fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">Cancelled </p>


                            <h6 class="mb-0" >{{statistics.cancelledInPastTourscount}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-sharp fa-solid fa-dollar-sign fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">total Past Tours Price</p>


                            <h6 class="mb-0" >{{statistics.totalPastToursPrice | currency:'USD':'symbol':'.2'}}</h6>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row g-4 parent">
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">Fully Booked </p>


                            <h6 class="mb-0" >{{statistics.fullyBookedPastToursCount}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">UpComing Tours </p>

                            <h6 class="mb-0">{{statistics.upComingToursCount}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-sharp fa-solid fa-dollar-sign fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Upcoming Tours Price</p>

                            <h6 class="mb-0" >{{statistics.totalUpcomingToursPrice | currency:'USD':'symbol':'.2'}}</h6>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row g-4 parent">
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-solid fa-plane-departure fa-3x text-primary icon"></i>


                        <div class="ms-3">
                            <p class="mb-2"> Total Upcoming Tour Seats</p>


                            <h6 class="mb-0" >{{statistics.totalUpcomingTourSeats}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-thin fa-plane-departure fa-3x text-primary icon"></i>

                        <div class="ms-3">
                            <p class="mb-2">Avg Upcoming Tour Seats</p>


                            <h6 class="mb-0">{{statistics.avgUpcomingTourSeats}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-sharp fa-solid fa-flag fa-3x text-primary icon"></i>

                        <div class="ms-3">
                            <p class="mb-2">FullyBookedUpcomingTCount</p>


                            <h6 class="mb-0">{{statistics.fullyBookedUpcomingToursCount}}</h6>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row g-4 parent">
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-sharp fa-solid fa-dollar-sign fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">Avg Past Tours Price</p>


                            <h6 class="mb-0">{{statistics.avgPastoursPrice | currency:'USD':'symbol':'.2'}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-sharp fa-solid fa-dollar-sign fa-3x text-primary icon"></i>
                        <div class="ms-3">
                            <p class="mb-2">Avg Upcoming Tours Price</p>

                            <h6 class="mb-0">{{statistics.avgUpcomingToursPrice | currency:'USD':'symbol':'.2'}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-regular fa-flag fa-3x text-primary icon"></i>

                        <div class="ms-3">
                            <p class="mb-2">Tours InCart Count</p>
                            <h6 class="mb-0">{{statistics.toursInCartCount}}</h6>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Sale & Revenue End -->



        </div>
    </div>
  </div>
