<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
        <h1 class="display-3 text-white animated slideInDown">{{tour.title}}</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading">
  <div class="container-lg" *ngIf="tour">

    <app-admin-post-request-form *ngIf="interface == 'admin'" [tourId]="tour.id"></app-admin-post-request-form>

    <!-- <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <h5 for="">Questions</h5>
        <div *ngFor="let quest of tour.questions; let i=index">
          <div class="ms-3">{{i+1}}. {{quest.question}}</div>
          <input class="form-control" name="answer" id="answer" cols="30" rows="10" [(ngModel)]="tourAnswer[i]"
          [attr.data-question-index]="i"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->


    <div class="row mt-5">
      <div class="col-md-6">
        <ngb-carousel class="rounded-top overflow-hidden" [interval]="0">
          <ng-template ngbSlide *ngFor="let photo of tour.photos">
            <!-- slide content -->
            <div class="carousel-item active">
              <img src="{{photo}}" class="d-block w-100" style="height: 700px;">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>


      <div class="col-md-6">

        <app-tg-tour-details class="card mb-3 py-4" *ngIf="interface == 'tourguide'" [tour]="tour"></app-tg-tour-details>

        <h4>Tour Information</h4>
        <div class="mb-3">
          <h5>Description : </h5>
          <div class="card flex-md-row align-items-start">
            <div class="p-3 d-flex flex-column align-self-stretch">
              <p *ngIf="tour.description"> {{tour.description}}</p>
              <!-- style="height: 200px; overflow-y: scroll; border: 1px solid black; margin-bottom: 10px; padding: 5px;" -->
            </div>
          </div>
        </div>
        <div>
          <h5>Meet Point : </h5>
          <span *ngIf="tour.locationFrom"> {{ tour.locationFrom}}</span>
        </div>
        <div>
          <h5>Destination : </h5>
          <span *ngIf="tour.locationTo"> {{ tour.locationTo}}</span>
        </div>
        <div>
          <h5 *ngIf="tour.dateFrom">Date From : </h5>
          <span>{{ tour.dateFrom | truncate: 16:false:"" }}</span>
        </div>
        <div>
          <h5 *ngIf="tour.dateTo">Date To : </h5>
          <span>{{ tour.dateTo | truncate: 16:false:"" }}</span>
        </div>
        <div>
          <h5 for="price">Price :</h5>
          <span *ngIf="tour.price"> {{ tour.price}}$</span>
        </div>
        <div>
          <h5 for="likescounts">Likes : </h5>
          <span> {{ tour.likes }}</span>
          <i class="fa-solid fa-thumbs-up like"></i>
        </div>
        <div>
          <h5 for="available-seats">Bookings</h5>
          <span> {{ tour.bookings }}/{{tour.capacity}}</span>
          <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="(tour.bookings / tour.capacity ) * 100"
              [attr.aria-valuenow]="tour.bookings" aria-valuemin="0" [attr.aria-valuemax]="tour.capacity"></div>
          </div> -->
        </div>

        <div>
          <h5 for="transportation">Transportation</h5>
          <input type="checkbox" name="transportation" id="transportation" [checked]="tour.hasTransportation" disabled>
        </div>


        <!-- <div class="m-3">
          <h5>Reviews : </h5>
          <div class="card flex-md-row align-items-start">
            <div class="p-3 d-flex flex-column align-self-stretch">
              <div *ngFor="let rating of tour.rating; let i = index">
                <p>{{ i+1 }}. {{ tour.reviews[i] }}</p>
                <star-rating [rating]="rating"></star-rating>
              </div>
            </div>
          </div>
        </div> -->

      </div>

      <app-cust-tour-details *ngIf="interface == 'customer'" [tour]="tour"></app-cust-tour-details>

      <div class="col-12">
        <app-customer-review-form *ngIf="interface == 'customer'" [tourId]="tour.id">
        </app-customer-review-form>

        <app-review-lister SliderTitle="Reviews" [Reviews]="tour.reviews"></app-review-lister>
        <!-- <h5>Reviews : </h5>
        <div class="card flex-md-row align-items-start">
          <div class="p-3 d-flex flex-column align-self-stretch col-md-6">
            <ng-container *ngFor="let review of tour.reviews.slice(0, Math.ceil(tour.reviews.length / 2)); let i = index">
              <p>{{ i+1 }}. {{ review }}</p>
              <star-rating [rating]="tour.rating[i]"></star-rating>
              <hr>
              <br>
            </ng-container>
          </div>
          <div class="p-3 d-flex flex-column align-self-stretch col-md-6">
            <ng-container *ngFor="let review of tour.reviews.slice(Math.ceil(tour.reviews.length / 2)+1); let i = index">
              <p>{{ i + Math.ceil(tour.reviews.length / 2)+1 }}. {{ review }}</p>
              <star-rating [rating]="tour.rating[i + Math.ceil(tour.reviews.length / 2)]"></star-rating>
              <hr>
              <br>
            </ng-container>
          </div>
        </div> -->
      </div>
    </div>

  </div>
</div>

<div *ngIf="loading" class="load">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
