<div class="text-center d-flex flex-column" *ngIf="Booking">

  <div class="card p-1 position-relative">

    <p class="mb-1">{{Booking.createdAt | truncate:16:false:"" }}</p>
    <p class="m-0">Seats: {{Booking.seats}}</p>

    <div *ngIf="CanCancel || CanReport || CanRemove"
    class="dropdown dropdown-menu-end position-absolute top-0 end-0">

      <button class="btn pe-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <ul class="dropdown-menu bg-light">

        <li  *ngIf="CanReport">
          <button
          class="btn dropdown-item">
            Report
          </button>
        </li>

        <li  *ngIf="CanRemove">
          <button (click)="RemoveBooking()"
          class="btn dropdown-item">
            Remove
          </button>
        </li>

        <li *ngIf="CanCancel">
          <button
          [disabled]="!Booking.canCancel"
          (click)="CancelBooking()"
          class="btn dropdown-item">
            Cancel
          </button>
        </li>

      </ul>
    </div>

  </div>

  <app-tour-card *ngIf="booking" class="flex-grow-1" [tour]="booking.tourCard" style="min-width: 22rem;">
  </app-tour-card>

  <button *ngIf="CanReview"
  [disabled]="!Booking.canReview"
  (click)="Review()"
  class="btn btn-primary">
    Review
  </button>

  <button *ngIf="CanRemove"
  (click)="Checkout()"
  class="btn btn-primary">
    Checkout
  </button>

</div>
