<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
        <h1 class="display-3 text-white animated slideInDown">Tour Details</h1>
        <div *ngIf="tour">
          <a routerLink="/bookTour/{{tour.id}}" class="btn btn-primary rounded-pill me-2"
            [ngClass]="{'disabled-link': tour.capacity - tour.bookings <= 0}">
            Book Tour
          </a>
          <br><br>
          <div class="btn me-2">
            <wishlist-button [TourId] = "tourById"></wishlist-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<app-tour-details [tourById] = "tourById" (tourSend)="tour = $event"></app-tour-details>

<div *ngIf="tour" class="container ps-5">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="askQuestion" (ngSubmit)="Ask()">
        <label>Ask your question: </label>
        <br>
        <textarea formControlName="question" placeholder="Enter your question" ></textarea>
        <br>
        <input type="submit" name="submit" value="Ask" class="btn btn-primary rounded-pill me-2 book"/>
      </form>
      <div class="mb-3">
        <a routerLink="/tourguide/{{tour.tourguideId}}">Tour Guide Profile</a>
      </div>
      <div class="mt-3">
      <a routerLink="/QuestAns/{{tourById}}" class="">
        See all questions & answers here
      </a>
      </div>
    </div>

    <!-- <div class="col-6 pt-5 mt-5" *ngIf="tour">
      <label>Add to wishlist: </label>
      <wishlist-button [TourId] = "tourById"></wishlist-button>
  </div> -->
  </div>
</div>


