<div class="ms-5">
    <form (ngSubmit)="onSubmit()" *ngIf="tour">
        <h5 for="">Add Photos</h5>
        <app-upload-images (PastToursPhotos)="Photos=$event" (PastToursUrls)="Urls=$event" [tourId]="tourById"></app-upload-images>
        <br>
        <button [disabled]="!Photos.length || !checkForTour" type="submit" class="btn btn-primary">submit</button>
        <div *ngIf="!checkForTour">
            <p style="color: red">You can't add images until the tour is done</p>
        </div>
    </form>
</div>
