<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-3 text-white animated slideInDown">Tour Details</h1>
        </div>
      </div>
    </div>
  </div>
  
<app-tour-details [tourById] = "tourById" (tourSend)="tour = $event"></app-tour-details>

<div class="ms-2">
    <form (ngSubmit)="onSubmit()" *ngIf="tour">
        <div *ngIf="!checkForTour">
        <h5 for="">Add Photos</h5>
        <app-upload-images (PastToursUrls)="Photos=$event" [tourId]="tourById"></app-upload-images>
        <br>
        <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>
</div>